/*CSS reset settings here*/
*{
 margin: 5px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 10px;
 overflow: hidden;
	height: auto;
	display: inline-block;

}
#header{
 height: 150px;
 background-color: green;
 margin: 5px;
 /*padding: 10px;*/

}
#navigation{
 height: 300px;
 width: 180px;
 background-color: blue;
 float:left;

}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 float: right;
 margin: 10px;
 padding:20px;
 display: inline-block;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 /*border: 1px solid;*/
padding: 5px; 
 margin: 10 px;
 float: right;
 display: inline-block;
}
#advertisement{
 height: 120px;
 width: 680px;
 background-color: purple;
 float: right;
 margin-top: 25px;
 /*display: block;*/
}